img {
  display: block;
  width: 100%;
  transition: all 0.5s ease;
  opacity: 0;
  visibility: hidden;
  /* &.loaded {
      opacity: 1;
      visibility: visible;
    } SCSS CODE*/
}
img.loaded {
  opacity: 1;
  visibility: visible;
}
